---
import "@fontsource/anton";

import BlogPostTemplate from "../../components/BlogPageTemplate/index.astro";
import Navbar from "../../components/Navbar/index.astro";
import Footer from "../../components/Footer/index.astro";
const image = [
  {
    title: "Podcast: Tips to create better presentations",
    genre: "Preventation tips",
    path: "/Images/blog1.png",
  },
  {
    title: "Podcast: Tips to create better presentations",
    genre: "Preventation tips",
    path: "/Images/blog2.png",
  },
  {
    title: "Podcast: Tips to create better presentations",
    genre: "Preventation tips",
    path: "/Images/blog3.png",
  },
  {
    title: "Podcast: Tips to create better presentations",
    genre: "Preventation tips",
    path: "/Images/blog4.png",
  },
  {
    title: "Podcast: Tips to create better presentations",
    genre: "Preventation tips",
    path: "/Images/blog5.png",
  },
  {
    title: "Podcast: Tips to create better presentations",
    genre: "Preventation tips",
    path: "/Images/blog6.png",
  },
  {
    title: "Podcast: Tips to create better presentations",
    genre: "Preventation tips",
    path: "/Images/blog7.png",
  },
  {
    title: "Podcast: Tips to create better presentations",
    genre: "Preventation tips",
    path: "/Images/blog8.png",
  },
  {
    title: "Podcast: Tips to create better presentations",
    genre: "Preventation tips",
    path: "/Images/blog9.png",
  },
];

---

<main>
  <Navbar />
  <div class="w-full flex flex-col gap-y-12 mx-auto bg-black py-20">
    <div
      class="text-9xl font-semibold font-anton text-white ml-16 w-3/6 text-left py-12 pr-4 tracking-wide"
    >
      updates from our world
    </div>
    <div
      class="grid grid-cols-2 xl:grid-cols-3 place-items-start gap-y-10 mx-16"
    >
      {
        image.map((index) => (
          <div class="p-0 ">
            <BlogPostTemplate
              title={index.title}
              genre={index.genre}
              path={index.path}
            />
          </div>
        ))
      }
    </div>
  </div>
  <Footer />
</main>
