---
import "@fontsource/anton";
import Button from "../components/Button/index.astro";
import Main from "../layouts/Layout.astro";
---

<Main title="contact">
  <div
    class="flex flex-col items-center justify-center gap-y-20 pt-20 pb-40 w-full mx-auto bg-black container-max-width"
  >
    <div class="flex flex-col items-center justify-center text-center gap-y-6">
      <div class="text-6xl sm:text-9xl font-medium font-anton text-white">
        Get in touch
      </div>
      <div class="text-lg font-inter text-stone-400 xl:w-3/6 text-center px-3">
        We're revolutionizing the digital landscape for businesses, eliminating
        the complexities associated with freelancers and expensive traditional
        agencies.
      </div>
    </div>
    <div class="flex flex-col items-center justify-center gap-y-10">
      <div
        class="flex sm:flex-row flex-col items-center sm:items-start justify-between w-full gap-16"
      >
        <div class="flex flex-col items-start justify-between gap-y-2">
          <span class="font-inter text-base font-medium text-white"
            >First Name</span
          >
          <input
            class="py-3 w-80 px-3 placeholder:font-inter font-inter text-lg rounded-lg font-medium placeholder:font-medium text-zinc-300 placeholder:text-zinc-700 bg-zinc-800"
            placeholder="Rahul"
          />
        </div>
        <div class="flex flex-col items-start justify-between gap-y-2">
          <span class="font-inter text-base font-medium text-white"
            >Last Name</span
          >
          <input
            class="py-3 w-80 px-3 placeholder:font-inter font-inter text-lg rounded-lg font-medium placeholder:font-medium text-zinc-300 placeholder:text-zinc-700 bg-zinc-800"
            placeholder="Joshi"
          />
        </div>
      </div>
      <div
        class="flex sm:flex-row flex-col items-center sm:items-start justify-between w-full gap-16"
      >
        <div class="flex flex-col items-start justify-between gap-y-2">
          <span class="font-inter text-base font-medium text-white">Email</span>
          <input
            class="py-3 w-80 px-3 placeholder:font-inter font-inter text-lg rounded-lg font-medium placeholder:font-medium text-zinc-300 placeholder:text-zinc-700 bg-zinc-800"
            placeholder="Rahul"
          />
        </div>

        <div class="flex flex-col items-start justify-between gap-y-2">
          <span class="font-inter text-base font-medium text-white"
            >Phone number</span
          >
          <input
            class="py-3 w-80 px-3 placeholder:font-inter font-inter text-lg rounded-lg font-medium placeholder:font-medium text-zinc-300 placeholder:text-zinc-700 bg-zinc-800"
            placeholder="Joshi"
          />
        </div>
      </div>

      <div
        class="flex flex-col sm:flex-row items-center sm:items-start justify-center w-full gap-16 "
      >
        <div class="flex flex-col items-start justify-between gap-y-2 sm:w-full">
          <span class="font-inter text-base font-medium text-white">Email</span>
          <textarea
            class="py-3 w-80 sm:w-full h-32 px-3 placeholder:font-inter font-inter text-lg rounded-lg font-medium placeholder:font-medium text-zinc-300 placeholder:text-zinc-700 bg-zinc-800"
            placeholder="We love creative agency"></textarea>
        </div>
      </div>

      <div class="w-full mx-auto pt-10">
        <Button intent="secondary" size="medium">Sent this message</Button>
      </div>
    </div>
  </div>
</Main>
