---
import Link from "../components/Link/index.astro";
import Button from "../components/Button/index.astro";
import Avatar from "../components/Avatar/index.astro";
---

<Avatar />
<div class="text-xl text-red-600">Home</div>
<Link href="/work">
  <Button>work</Button>
</Link>
<Link href="/contactPage">
    <Button>contact Page</Button>
  </Link>