---
import "../styles/global.css"
import Hero from "../modules/Hero/index.astro";
import Gallery from "../modules/Gallery/index.astro";
import TestimonialModule from "../modules/TestimonialModule/index.astro";
import ClientList from "../modules/ClientList/index.astro";

import Main from "../layouts/Layout.astro";

---

<Main title="main" >
  <Hero />
  <Gallery />
  <TestimonialModule />
  <ClientList />
</Main>
