---
import { Icon } from "astro-icon/components";
const company = ["Logo1", "Logo2", "Logo3", "Logo4"];
---
<div
  class="flex flex-col items-center justify-center gap-y-16 bg-black container-max-width pb-32 rounded-b-2xl"
>
  <div class="w-full mx-auto text-center px-3 sm:px-16 bg-black">
    <div class="text-6xl sm:text-9xl font-anton font-medium text-white">
      OUR CLIENTS
    </div>
    <div
      class="font-inter w-full text-base sm:text-lg font-medium text-zinc-400 pt-10"
    >
      We created brands used by thousand of people around the world. Our designs
      are unique, useful and user-friendly
      <div class="flex flex-col gap-y-8 pt-12">
        <div class="flex items-center justify-center gap-8 sm:gap-28">
          {
            company.map((index) => (
              <div class="flex items-center justify-center gap-10">
                <Icon name={index} class=" w-16 sm:w-20 h-16" />
              </div>
            ))
          }
        </div>
        <div class="flex items-center justify-center gap-8 sm:gap-28">
          {
            company.map((index) => (
              <div class="flex items-center justify-center gap-10">
                <Icon name={index} class=" w-16 sm:w-20 h-16" />
              </div>
            ))
          }
        </div>
        <div class="flex items-center justify-center gap-8 sm:gap-28">
          {
            company.map((index) => (
              <div class="flex items-center justify-center gap-10">
                <Icon name={index} class=" w-16 sm:w-20 h-16" />
              </div>
            ))
          }
        </div>
        <div class="flex items-center justify-center gap-8 sm:gap-28">
          {
            company.map((index) => (
              <div class="flex items-center justify-center gap-10">
                <Icon name={index} class=" w-16 sm:w-20 h-16" />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
